// seletor{propriedade:valor;}
/*asterisco é seletor global


*/
*{
    margin: 0;
    // espaçamento externo das tags
    padding: 24;
    // espaamento interno das tags
    box-sizing: border-box;
    // Ele faz o calculo correto dos tamanhos dos elementos

}

// seletor {propriedade:valor;}
// tag
img{
    width: 200px;
    height: auto;
    display: block;
    margin: auto;

}

//classe  seletor
.Titulo{
    color:rgb(201, 6, 113);
    text-align: center;
    margin: 12px 0;
}
//id seletor inicia com #
#btn1{
    background-color: darkorchid;
    padding: 12px 24px;
}
#btn2{
    background-color: darkorchid;
    padding: 12px 24px;
}
#btn3{
    background-color: darkorchid;
    padding: 12px 24px;
}
#btn4{
    background-color: darkorchid;

}

body{
    background-color: rgb(212, 136, 209);
    font-family: "Montserrat", sans-serif;
}
div{
    margin-bottom: 24px;
    padding: 24px;
    background-color: rgb(235, 158, 215);
    border: 1px solid #b886a7;
    border-radius: 4px;
}
button{
    background-color: rgb(201, 6, 113);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;
}

main{
    max-width: 800px;
    margin: auto;
    padding: 24px;
    background-color: rgb(163, 115, 159);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(51, 2, 29, 0.1);
}

button{
    transition: background-color 0.3s;
    margin: auto;
    display: block;
}